.homepage-section {
  margin-bottom: 3rem;
}

.homepage-section h3 {
  font-weight: 600;
}

.section-content {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 12px;
}

.section-description {
  color: var(--docs-color-text-100);
  margin: 0rem 0 1.25rem 0;
  margin-top: -0.5rem;
}

.has-sub-sections > .section-content .section-description {
  font-size: 14px;
}

.homepage-card {
  align-items: flex-start;
  gap: 10px;
  padding: 0.75rem;
  text-decoration: none;
  color: black;
  background: #f8f8f8;

  --ifm-link-hover-decoration: none;
  --ifm-link-hover-color: inherit;
  cursor: pointer;
  border-width: 1px;
  transition-property: background-color, color;

  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.homepage-card.row {
  flex-direction: row;
}

.icon svg {
  width: auto;
  height: 100%;
}

.homepage-card .icon {
  width: 48px;
  height: 48px;
  @apply mx-1;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.card-content .title {
  font-size: 16px;
  letter-spacing: -0.5px;
  font-weight: 600;
}

.card-content .description {
  font-size: 14px;
  color: var(--docs-color-text-100);
  line-height: 1.5;
}

.homepage-card .tag {
  font-size: 12px;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-weight: 500;
  position: absolute;
}
